@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    padding: 20px;
    background-color: #eeeeee;
    justify-content: space-between;
}

/* section gauche  */

.container .partie-gauche{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 20%;
}
.container .partie-gauche .logo .logo-l{
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.container .partie-gauche .logo .logo-r{
    font-weight: bold;
    color:  rgb(165, 0, 0);
}
.container .partie-gauche .btn{
    margin-bottom: 10px;
    padding: 10px 20px;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.7s;
}
.container .partie-gauche .btn:hover{
    background-color: #000000;
    color: #fff;
}

/* section droite */

.container .partie-droite{
    display: flex;
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    justify-content: flex-start;
    background-color: #fff;
    width: 78%;
    flex-direction: column;
    position: relative;
    gap: 30px;
}
.container .partie-droite .text-gros{
    font-size: 50px;
    font-weight: bold;
}
.container .partie-droite .text-flou{
    font-size: 40px;
    color: #cac9c9;
}
.container .partie-droite .text-gras{
    font-size: 30px;
    font-weight: bold;
}
.container .partie-droite .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .partie-droite .top .monnaie{
    padding: 7px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 7px;
    height: 30px;
    cursor: pointer;
}
.container .partie-droite .top .monnaie:hover{
    background-color: #e8e8e8;
}
.container .partie-droite .grid{
    display: grid;
    grid-template-rows: repeat(1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 140px;
    gap: 20px;
}
.container .partie-droite .grid .item{
    background-color: #000000;
    border-radius: 10px;
    padding: 7px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.9s;
}
.container .partie-droite .grid .revenue{
    background-color: #bcb914;
}
.container .partie-droite .grid .depense{
    background-color: rgb(165, 0, 0);
}
.container .partie-droite .grid .item .titre{
    padding: 5px 7px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    width: 40%;
}
.container .partie-droite .grid .item .depot{
    padding: 5px 7px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    width: 40%;
    background-color: #535353;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
    align-items: center;
    display: flex;
}
.container .partie-droite .grid .solde:hover .depot{
    opacity: 1;
}
.container .partie-droite .grid .item .depot:hover{
    background-color: #979797;
}
.container .partie-droite .grid .item .montant{
    font-size: 30px;
    color: #fff;
}

.container .partie-droite .line{
    height: 1px;
    width: 100%;
    background-color: #d3d3d3;
    border-radius: 20px;
}
.container .partie-droite .transaction .titles .title{
    font-size: 20px;
    font-weight: 500;
}
.container .partie-droite .transaction .titles .sous-title{
    color: #999;
}

.container .partie-droite .transaction table{
    width: 100%;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 15px;
}
.container .partie-droite .transaction table thead{
    text-align: left;
}
.container .partie-droite .enregistrement{
    display: flex;
    justify-content: center;
    color: #000000;
    border: 2px solid black;
    transition: 0.7s;
    padding: 10px 20px;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
.container .partie-droite .enregistrement:hover{
    background-color: #000000;
    color: #fff;
}

.formulaire{
    flex-direction: column;
    gap: 30px;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    margin-top: 10%;
    margin-left: 32%;
    display: none;
    border: 1px solid black;
    backdrop-filter: blur(19px);
    background-color: transparent;
}
.formulaire input{
    width: 100%;
    padding: 10px 0px;
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1.5px solid rgb(113, 107, 107);
    background-color: transparent;
    margin-bottom: 15px;
}
.formulaire .types{
    width: 218px;
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #fff;
    border-radius: 7px;
}
.formulaire .types .type{
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
}
.formulaire .types .type:hover{
    background-color: #fff;
    color: black;
}

.btns{
    padding: 10px 20px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    border: none;
}
.boutons{
    display: flex;
    gap: 10px;
}
